.map-layout{
max-width:1100px;
margin:auto;
padding:40px;

display:flex;
gap:20px;
align-items:stretch; /* WICHTIG */
background-color: #FAFBF6;
}

/* SIDEBAR */

.map-sidebar{
width:280px;
background:white;
border:1px solid #ddd;
border-radius:6px;
padding:15px;

overflow-y:auto;
max-height:670px;
}

/* CATEGORY */

.category{
margin-bottom:25px;
}

.category h4{
margin:0 0 10px 0;
color:#154995;
font-size:18px;
}

/* CATEGORY COLORS */
.category.transport h4 { color:#CC8830; }
.category.service h4 { color:#20AB1D; }
.category.groceries h4 { color:#992CCC; }
.category.drugstore h4 { color:#2E85CB; }
.category.pharmacy h4 { color:#D0C446; }

/* BUTTON COLOR LEFT BORDER */
.category.k3 li { border-left:4px solid #CB2940; }
.category.transport li { border-left:4px solid #CC8830; }
.category.service li { border-left:4px solid #20AB1D; }
.category.groceries li { border-left:4px solid #992CCC; }
.category.drugstore li { border-left:4px solid #2E85CB; }
.category.pharmacy li { border-left:4px solid #D0C446; }


/* BUTTON STYLE (like links page) */

.map-sidebar ul{
list-style:none;
padding:0;
margin:0;
}

.map-sidebar li{

display:block;

padding:14px 18px;
margin:8px 0;

border:1px solid #ddd;
border-radius:6px;

background:white;

cursor:pointer;

color:#154995;
font-weight:500;

transition:all 0.2s ease;

}

.map-sidebar li:hover{
background:#f5f7fa;
border-color:#154995;
transform:translateX(3px);
}

/* MAP */

#map{
flex:1;
height:700px;
min-height: 600px;

border-radius:6px;
border:1px solid #ddd;
}


/* MOBILE */

@media(max-width:800px){

.map-layout{
flex-direction:column;
padding:20px;
}

.map-sidebar{
width:100%;
max-height:none;
}

#map{
height:420px;
}

}