body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
background:#f8f8f8;
color:#333;
}

main{
margin-top:160px;
}

h2{
margin-top:0;
color:#154995;
}

h3{
margin-top:0;
color:#154995;
}

/* TITLE BAR */

.title-bar{
position:fixed;
top:60px;   /* height Navbar */
left: 0;
right: 0;
width: flex;

background:#154995;
color:white;

padding:30px 40px;
z-index:900;
}

.title-bar h1{
margin:0;
font-size:28px;
}



/* CONTENT */

.content{

max-width:1100px;
margin:auto;
padding:40px;

}



/* GRID */

.info-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
    align-items:stretch;
}


/* CARDS */

.card{
    background:white;
    border-radius:6px;
    padding:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.05);

    display:flex;
    flex-direction:column;
    transition:transform 0.15s ease, box-shadow 0.15s ease;
}

.card:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 14px rgba(0,0,0,0.08);
}

.card h3{
    text-align: center;
    margin-top:0;
    color:#154995;
}

.card ul{
margin:10px 0;
padding-left:18px;
}

.card li{
margin-bottom:6px;
}

.card ul ul{
margin-top:6px;
}

/*Phone*/
@media (max-width:700px){

.info-grid{
    grid-template-columns:1fr;
}

.card{
    width:100%;
}

}


/*Link*/
.link-item{
    margin-top:auto;
    text-align:center;
    padding-top:15px;
    padding:20px;
    text-decoration:none;
    color:#154995;
    transition:all 0.2s ease;
}

.link-item:hover{
    color:#C7D92D;
}